html,body{
  background-color: #f8f9fa; /* Light gray background */
  color: #333; /* Dark text color */
  font-family: 'Arial', sans-serif;
  max-width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
  margin: 0; /* Remove default margin */
}
