html,body{
  background-color: white;
  color: #333; /* Dark text color */
  font-family: 'Arial', sans-serif;
  max-width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
  margin: 0; /* Remove default margin */
}
